@font-face {
    font-family: unique;
    src: url(./fonts/Roboto-Black.ttf);
}

* {
    margin: 0;
    padding: 0;
};

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-content: center;
    height: 100vh;
}

.today {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.todayHeader {
    font-size: 2em;
    font-family: unique;
    color: blue;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25em;
    height: 15em;
    border: solid 3px rgba(0, 0, 255, 0.5);
    align-self: center;
}

.location {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: end;
    align-self: center;
}

.name, .country {
    font-size: 2em;
    font-weight: bolder;
    font-family: unique;
    color: blue;
    margin-bottom: 0;
}

.time {
    font-size: 1em;
    align-self: baseline;
    color: blue;
}

.tempIcon {
    display: flex;
    height: 100%;
    justify-content:space-around;
    align-items: center;
}

.temp, .condition {
    flex: 0 1 auto;
    align-self: center;
}

.condition {
    width: 10em;
    text-align: center;
    border-left: inset 2px rgb(0, 0, 0, 0.25);
    margin-left: 10px;
    padding-left: 10px;
}

.icon img, .iconTommorow img{
    height: 10em;
}

.submit {
    width: 25em;
    height: 7em;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

.search {
    display: block;
    align-self: center;
}

.searchButton {
    width: fit-content;
    align-self: center;
    border: none;
    font-size: 1em;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
}

.text, .textTommorow {
    font-weight: bold;
    color: blue;
}

.tempC, .tempF, .tempCTommorow, .tempFTommorow {
    width: 3em;
    text-align: center;
    font-size: 3em;
}

.tempC, .tempCTommorow {
    border-bottom: inset 2px rgb(0, 0, 0, 0.25);
    margin-bottom: 10px;
    padding-bottom: 10px;
}